.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.header .container {
  display: flex;
  flex-direction: row;
  padding: 1.7rem 0;
}

.nav-links {
  display: flex;
  flex-direction: row;
}

.auth-buttons {
  display: flex;
  flex-direction: row;
}

.auth-buttons button {
  cursor: pointer;
}

.nav-links li + li,
.auth-buttons li {
  margin-left: 3.7rem;
}

.nav-links a,
.auth-buttons button {
  position: relative;
  color: var(--black);
  transition: color 0.2s ease;
}

.nav-links a:hover,
.auth-buttons button:hover {
  color: var(--blue);
}

.nav-links a::after,
.auth-buttons button::after {
  position: absolute;
  bottom: -2px;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  background-color: var(--blue);
  transition: transform 0.3s ease;
}

.nav-links a:hover::after,
.auth-buttons button:hover::after {
  transform: scaleX(1);
}

.first-section {
  padding: 8.8rem 0 22.4rem;
  position: relative;
}

.first-section::after {
  content: "";
  position: absolute;
  top: 2px;
  left: -2.2rem;
  right: -2.2rem;
  bottom: 0;
  background-image: url("../images/first-section-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.first-section .intro {
  display: grid;
  grid-template-columns: 50% 50%;
}

.first-section .intro .content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.first-section .intro .content p {
  font-size: var(--small);
  margin-top: 1.4rem;
}

.first-section .intro .content .btn-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2.4rem;
}

.first-section .intro .content .btn-img {
  display: flex;
  margin-left: 3.2rem;
  width: 6.3rem;
  height: 6.3rem;
}

.first-section .intro .content .btn-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.first-section .intro .image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.first-section .intro .image-container img {
  width: 100%;
  max-width: 36.1rem;
  display: inline-block;
  margin: 0 5.3rem 0 auto;
}

.first-section .customers {
  text-align: center;
  margin-top: 9.6rem;
  color: var(--white);
}

.first-section .customers .work-to {
  margin: 2.2rem auto 0;
  max-width: 77.5rem;
  display: grid;
  gap: 2.8rem;
  grid-template-columns:
    minmax(auto, 14.3rem)
    minmax(auto, 22.1rem)
    minmax(auto, 16.9rem)
    minmax(auto, 11.7rem);
  align-items: center;
}

.first-section .customers .work-to img {
  width: 100%;
}

.first-section .customers h2:nth-of-type(2) {
  margin-top: 8.6rem;
}

.first-section .customers p {
  margin-top: 3.6rem;
}

.secondary-section {
  margin: 4.4rem 0 0;
}

.secondary-section .services > header {
  text-align: center;
}

.secondary-section .services > header h2 {
  color: var(--blue);
  margin-bottom: 3.4rem;
}

.services-one {
  margin-top: 12.4rem;
}

.services-one .service-item {
  display: grid;
  grid-template-columns: 57% calc(43% - 6rem);
  gap: 6rem;
}

.services-one .service-item + .service-item {
  margin-top: 8.6rem;
}

.services-one .service-item:nth-of-type(even) {
  grid-template-columns: calc(45% - 7.7rem) 55%;
}

.services-one .service-item:nth-of-type(even) .content {
  grid-column: 2;
  grid-row: 1;
}

.services-one .service-item:nth-of-type(even) .services-image-container {
  grid-column: 1;
  grid-row: 1;
}

.services-one .service-item .content h2 {
  text-align: center;
  color: var(--blue);
  margin-bottom: 4.5rem;
}

.services-one .service-item .content p + p {
  margin-top: 2.4rem;
}

.services-one .service-item .content .btn-container {
  margin-top: 3.6rem;
  display: flex;
  justify-content: flex-start;
}

.services-one .service-item .services-image-container {
  display: flex;
  align-items: center;
}

.services-one .service-item .services-image-container img {
  width: 100%;
  max-width: 38.9rem;
  background-size: contain;
  object-fit: cover;
}

.services-two {
  margin-top: 8.6rem;
}

.services-two h2 {
  text-align: center;
}

.services-two > h2 {
  color: var(--blue);
}

.services-two .services-container {
  display: grid;
  grid-template-columns: 34.39% 16.78% 34.39%;
  grid-template-rows: repeat(2, minmax(auto, 28.2rem));
  grid-gap: 7rem;
  align-items: center;
  justify-content: center;
  margin: 6.8rem auto 0;
  width: 100%;
  max-width: 97.1rem;
}

.services-two .service-item {
  padding: 6.6rem 2.6rem 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}

.services-two .service-item h2 {
  margin-bottom: 2.6rem;
  background: -webkit-linear-gradient(#5b86e5, #36d1dc);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.services-two .service-item.item-one,
.services-two .service-item.item-three {
  background-image: url("../images/service-bg-left.png");
}

.services-two .service-item.item-two,
.services-two .service-item.item-four {
  background-image: url("../images/service-bg-right.png");
}

.services-two .service-item.item-one {
  grid-column: 1;
  grid-row: 1;
}

.services-two .service-item.item-two {
  grid-column: 3;
  grid-row: 1;
}

.services-two .service-item.item-three {
  grid-column: 1;
  grid-row: 2;
}

.services-two .service-item.item-four {
  grid-column: 3;
  grid-row: 2;
}

.services-two .service-image-container {
  grid-column: 2;
  grid-row: 1 / span 2;
}

.services-two .service-image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.services-three {
  margin-top: 13.6rem;
}

.services-three > h3 {
  text-align: center;
  font-weight: 700;
  color: var(--blue);
  margin-bottom: 5.6rem;
}

.testimonial-container {
  display: flex;
  flex-direction: column;
}

.testimonial-wrapper {
  padding: 2.7rem 0;
  margin: 0 auto;
  max-width: 87.8rem;
  width: 100%;
  position: relative;
}

.testimonial {
  width: 90%;
  max-width: 60rem;
  padding: 4.3rem 3.6rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 4px 4px rgba(133, 133, 133, 0.25);
  border: 1px solid #dddddd;
  border-radius: 20px;
  background-color: var(--white);
}

.testimonial-image-container {
  margin-right: 2.8rem;
  width: 40%;
}

.testimonial-image-container img {
  object-fit: cover;
  border-radius: 20px;
  width: 100%;
  height: 100%;
}

.testimonial-content {
  width: 60%;
}

.testimonial-content h3 {
  margin: 0.8rem 0 1.6rem;
}

.testimonial-content p {
  color: var(--gray);
}

.ball {
  position: absolute;
  background: linear-gradient(to top, var(--blue-light) 0%, var(--blue));
  border-radius: 50%;
  z-index: -1;
}

.ball-one {
  width: 4.8rem;
  height: 4.8rem;
  left: 0;
  top: 18.2rem;
}

.ball-two {
  width: 5.9rem;
  height: 5.9rem;
  left: 6.5rem;
  top: 29rem;
}

.ball-three {
  width: 7.8rem;
  height: 7.8rem;
  left: 10rem;
  top: 0;
}

.ball-four {
  width: 3.9rem;
  height: 3.9rem;
  right: 12.1rem;
  top: 0.8rem;
}

.ball-five {
  width: 7.9rem;
  height: 7.9rem;
  right: 8rem;
  top: 12rem;
}

.ball-six {
  width: 9.3rem;
  height: 9.3rem;
  right: 0;
  top: 25.6rem;
}

.testimonial-list-wrapper {
  margin-top: 1.2rem;
}

.testimonial-list {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  justify-content: center;
}

.testimonial-list-item {
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  background-color: var(--gray-2);
}

.testimonial-list-item.active {
  background: linear-gradient(to top, var(--blue-light) 0%, var(--blue));
}

footer {
  margin-top: 18.2rem;
}

footer > .container {
  position: relative;
  padding: 18.8rem 0 4.5rem;
}

footer > .container::after {
  content: "";
  position: absolute;
  top: 0;
  left: -2.2rem;
  right: -2.2rem;
  bottom: 0;
  background-image: url("../images/footer-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.footer-lists {
  display: grid;
  grid-template-columns: repeat(4, 20%);
  justify-content: space-between;
  color: var(--blue-dark);
}

.footer-lists .footer-list a {
  color: inherit;
}

.footer-lists .footer-list li + li {
  margin-top: 1.2rem;
}

.footer-list.footer-item3 li + li {
  margin-top: 3rem;
}

.footer-list.footer-item1 {
  grid-column: 1;
  grid-row: 1;
}

.footer-list.footer-item2 {
  grid-column: 2;
  grid-row: 1;
  justify-self: center;
}

.footer-list.footer-item3 {
  grid-column: 3 / 5;
  grid-row: 1;
  justify-self: flex-end;
}

.social-container {
  margin-top: 8.8rem;
  color: var(--blue-dark);
  display: flex;
  justify-content: space-between;
}

.social-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.social-list li a {
  font-size: var(--social-icon);
  margin: 0 1.9rem;
  color: var(--black);
}
